.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: linear-gradient(
    to bottom,
    rgb(98, 123, 143) 0%,
    rgb(78, 93, 136) 100%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.button span {
  color: #fff;
  font-size: 20px;
}
.button_page {
  font-size: 24px;
}
